#root-home .hero {
  width: 100%;
  height: auto;
  min-height: 100vh;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/images/hero.jpeg") no-repeat center;
  background-size: cover;
  position: relative;
  padding: 1rem;
}
#root-home .hero .email {
  position: absolute;
  margin: 0;
  top: 2rem;
  left: 2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}
#root-home .hero .email a {
  color: var(--white);
  text-decoration: none;
  position: relative;
  margin: 0 0 0 0.5rem;
}
#root-home .hero .email a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--white);
  left: 0;
  bottom: -0.25rem;
  position: absolute;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
#root-home .hero .email a:hover::after {
  opacity: 1;
}
#root-home .hero .container {
  padding: 1rem;
  padding-left: 9vw;
  max-width: 50rem;
  /* background: red; */
}
#root-home .hero .introduction {
  text-transform: uppercase;
  font-size: 1.1rem;
}
#root-home .hero .name {
  color: var(--white);
  font-size: 4rem;
  margin: 1rem 0;
}
#root-home .socials {
  padding: 1rem 0 0 0;
  position: relative;
}
#root-home .social {
  margin: 0 1rem 1rem 0;
  padding: 0.75rem;
  border: 0.05rem solid var(--white);
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, border 0.3s ease;
}
#root-home .social:hover {
  color: var(--eerie);
  border: 0.05rem solid var(--crayola);
}
#root-home .social::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: var(--crayola);
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 0;
  transition: bottom 0.3s ease;
}
#root-home .social:hover::before {
  bottom: 0;
}
#root-home .social i {
  z-index: 1;
  position: relative;
}
#root-home .project-icon {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#root-home .project-icon::before {
  content: "Projects";
  display: block;
  position: absolute;
  top: -4rem;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
  background: var(--eerie);
  color: var(--white);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: top 0.3s ease, opacity 0.3s ease;
}
#root-home .project-icon:hover::before {
  top: -2.75rem;
  opacity: 1;
}
#root-home .project-icon > div {
  width: 3.25rem;
  height: 3.25rem;
  border: 0.01rem solid var(--white);
  border-radius: 100%;
  background: url("/images/squares.svg") no-repeat;
  background-position: 50% 50%;
  background-size: 18px;
  cursor: pointer;
  transition: transform 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#root-home .project-icon:hover > div {
  transform: rotate(360deg);
}
