:root {
  --crayola: #f5cb5c;
  --eerie: #242423;
  --white: #e8eddf;
  --wolf: #cfdbd5;
  --jet: #333533;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}
.padded {
  padding: 4rem 5rem;
}
.root {
  z-index: 0;
  position: relative;
  padding-left: 5.125rem;
}
.root .section {
  max-width: 55rem;
  padding: 1rem;
  margin: 0 auto;
}
.title {
  font-family: "Oswald", sans-serif;
}
.white {
  color: var(--white);
}
.crayola {
  color: var(--crayola);
}
.default-size {
  font-size: 1.1rem;
}
button {
  border-radius: 0.25rem;
  outline: none;
}
